* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1EBFC1;
    --bg-color: #1EBFC1;
}

html, body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}


.btn {
    display: inline-block;
    min-width: 186px;
    padding: 20px 41px;
    color: #fff;
    text-align: center;
    border-radius: 14px;
    background: var(--primary-color);
    border: 1px solid transparent;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    color: #0D1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.lv3 {
    font-size: 2.2rem;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* Header */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 28px;
}

.nav {
    margin-left: 200px;
    margin-right: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 20px;
    font-size: 1.6rem;
    color: #2F3A3B;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 #2F3A3B;
}

.header .sign-in-btn {
    margin-right: 24px;
    color: #494949;
}

.header .sign-up-btn {
    min-width: 108px;
    padding: 16px 24px;
    border-radius: 6px;
    font-weight: 600;
    box-sizing: border-box;
    color: var(--primary-color);
    background: #fff;
    border: 1px solid currentColor;
}

.header .sign-in-btn:hover {
    text-decoration: underline;
}

.header .sign-up-btn:hover {
    color:  #fff;
    background: var(--primary-color);
}

/* Hero */
.hero {
    padding: 22px 0 79px;
}

.hero .body {
    display: flex;
}

/* Hero left */
.hero .content-block {
    width: 39%;
    padding: 93px 0;
}

.hero .sub-heading {
    margin-bottom: 18px;
    color: #767E7E;
    font-size: 1.4rem;
}

.hero .desc {
    margin-top: 46px;
    max-width: 374px;
    color: #9DA6A5;
    font-size: 1.8rem;
    line-height: 1.78; 
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 52px 0 93px;
}

.hero-cta {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.hero .watch-video .icon img {
    width: 14px;
    height: 18px;
}

.hero .watch-video .icon:hover {
    opacity: 1;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.2);;
}
/* Hero right */
.hero .media-block {
    position: relative;
    margin-left: 136px;
    height: 631px;
}

.hero .media-block .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
    display: block;
}

.hero .media-block .course {
    position: absolute;
    top: 149px;
    left: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .course-icon {
    position: relative;
}

.hero .course-icon .book-2 {
    position: absolute;
    bottom: 8px;
    right: 4px;
}

.hero .media-block span {
    max-width: 55px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .schedules {
    position: absolute;
    bottom: 46px;
    left: -65px;
    display: flex;
    align-items: center;
    padding: 16px 25px 23px;
    flex-direction: column;
    max-width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .schedules span {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .schedules-icons img {
    display: inline-block;
}

.hero .schedules-icons .icon:first-child {
    margin-top: 16px;    
}

.hero .schedules-icons .icon:nth-child(2) {
    margin-top: 12px;    
}

.hero .schedules-icons .icon:nth-child(3) {
    margin-top: 10px;    
}

.hero .schedules-icons .rectangle {
    margin-top: 16px;
    width: 26px;
    height: 6px;
    border-radius: 3px;
    background: #EDF1F5;
    margin-right: auto;
    margin-left: auto;
}

.hero .students {
    position: absolute;
    bottom: 41px;
    right: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .students span {
    margin-bottom: 8px;
    min-width: 100px;
    display: flex;
    margin-left: -45px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .avatar-group {
    display: flex;
}

.hero .avatar {
    width: 33px;
    height: 33px;
    margin-left: -5px;
    object-fit: cover;
    border-radius: 50%;

    background: var(--bg-color, --primary-color);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
}

/* Features */
.features .features-top {
    width: 590px;
}

.courses .sub-heading,
.features .features-top .sub-heading {
    margin-bottom: 18px;
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
} 

.courses .desc-block .desc,
.features .features-top .desc {
    margin-top: 18px;
    color: #767E7E;
    font-size: 1.8rem;
    line-height: normal;
}

.features .features-down {
    width: 1024px;
    gap: 200px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.features .features-down .b-heading {
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
    padding: 26px 0 16px;
}


.features .features-down .b-desc {
    color: #9DA6A5;
    line-height: 1.69;
}

/* Courses */
.courses {
    margin-top: 130px;
}

.courses .desc-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .desc-block .desc {
    width: 525px;
    line-height: 1.78;
}

.courses .desc-block .view-all {
    font-size: 1.4rem;
    color: #9DA6A5;
    font-weight: 600;
}
.courses .desc-block .view-all:hover {
    color: #1EBFC1;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.courses .courses-img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.6;
}

.courses .courses-items {
    margin-top: 79px;
    gap: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .courses-desc-block {
    width: 325px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.courses .wrap-img {
    position: relative;
}

.courses .courses-desc-block {
    position: absolute;
    right: 17px;
    left: 17px;
    bottom: -70px;
}

.courses .courses-desc-block .price {
    margin: 16px 0 10px;
    color: #767E7E;
    font-size: 1.6rem;
}

.courses .courses-desc-block strong {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses .courses-desc-block .detail,
.courses .courses-desc-block .desc {
    margin-bottom: 18px;
    color: #9DA6A5;
    font-size: 14px;
}

.courses .courses-desc-block .detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.courses .detail .months::before,
.courses .detail .classes::before {
    display: inline-block;
    position: relative;
    top: -2px;
    content: "";
    width: 6px;
    height: 6px;
    margin-right: 10px;
    background: #1EBFC1;
    border-radius: 50%;
}

/* Countdown */
.countdown {
    margin: 389px 0 265px;
}
.countdown .main-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

.countdown .num {
    margin-bottom: 11px;
    color: #0D1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.countdown .desc {
    color: #767E7E;
    text-align: center;
    font-size: 1.8rem;
}

/* Comments */
.comments {
    position: relative;
    margin-bottom: 130px;
}

.comments .main-content {
    padding-top: 37px;
    display: flex;
}

.comments img {
    position: absolute;
}

.comments-left .quote {
    width: 419px;
    margin-bottom: 33px;
}

.comments-left quote {
    display: inline-block;
    margin-top: 27px;
    color: #5D6564;
    font-size: 3.2rem;
    line-height: 1.5; 
}

.comments-left .author {
    margin-bottom: 52px;
    color: #767E7E;
}

.comments-left .author strong {
    color: #070707;
    font-weight: 500;
}

.comments-left .controls {
    display: flex;
    gap: 30px;
}

.comments-left .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: var(--primary-color);
    border: 1px solid currentColor;
    stroke-width: 2px;
}

.comments-left .control-btn:hover {
    background: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
}

.comments-right img {
    border-radius: 50%;
}

.comments-right .central {
    position: absolute;
    top: 107px;
    left: 764px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 235px;
    background: #FF8282;
}

.comments-right .imgs-left .img:first-child {
    position: absolute;
    top: 0;
    left: 635px;
    background: aqua;
    width: 92px;
    height: 92px;
}

.comments-right .imgs-left .img:nth-child(2) {
    top: 258px;
    left: 491px;
}

.comments-right .imgs-right .img:last-child,
.comments-right .imgs-left .img:nth-child(3),
.comments-right .imgs-left .img:nth-child(2) {
    background: orange;
    width: 78px;
    height: 78px;
}

.comments-right .imgs-left .img:nth-child(3) {
    background: #FF947A;
    top: 403px;
    left: 703px;
}

.comments-right .imgs-right .img:first-child {
    top: 19px;
    left: 1060px;
    width: 110px;
    height: 110px;
    background: purple;
} 

.comments-right .imgs-right .img:last-child {
    top: 374px;
    left: 1060px;
    background: #B1DFDC;
}

/* CTA */
.cta {
    background: #DEF6F5;
    padding: 76px 0 88px;
}

.cta .main-content {
    display: flex;
    align-items: center;
}

.cta .left .desc {
    margin-top: 18px;
    color: #767E7E;
    font-size: 1.8rem;
}

.cta .cta-btn {
    margin-left: 410px;
    background: #2AC9BF;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

/* Footer */
.footer {
    padding: 130px 0 50px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .column .title {
    margin-bottom: 15px;
    color: #2E2E2E;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .column li a {
    display: inline-block;
    padding: 10px 0;
    color: #535353;
}

.footer .column li:hover a {
    text-decoration: underline;
}

.footer .column .social {
    display: flex;
    align-items: center;
}

.footer .column .social .icon {
    margin-right: 9px;
}

.footer .copyright {
    margin-top: 80px;
    color: #B0B5B4;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}